.card_item{
  display: flex;
  width: 454px;
  height: 281px;  
  margin-bottom: 35px;
  box-shadow: 0px 0px 12px 0px rgb(218, 218, 218);
  position: relative;
  text-align: left;
}

.card_description_wrapper{
  width: 100%;  
  position: relative;
  padding: 12px 9px 0px 20px;
  overflow: hidden;    
}

.card_description{
  max-height: 225px;
  overflow: hidden;
}

.card_item_poster{
  width: 183px;
  height: 281px;
}

.title_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: top;  
}

.title{
  text-align: left;
  width: 180px;
  margin-top: 0;
  font-size: 16px;
  line-height: 21px;  
}

.title_reit_border{
  border: 2px solid #E9D100;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: relative;
}

.title_reit{
  position: absolute;
  left: 23%;
  top: 20%;
  font-size: 12px;
}

.date{
  font-size: 12px;
  line-height: 22px;
  color: #827E7E;
  margin-bottom: 9px;
  display: inline-block;
}

.genre_wrapper{
  display: flex;
  flex-wrap: wrap
}

.genre{
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  background: #FAFAFA;
  font-size: 12px;
  line-height: 15px;
  padding: 2px 5px;
  color: rgba(0, 0, 0, 0.65);
  margin-right: 8px;
  margin-bottom: 5px;
}


.notGenre{
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
}

.genre:last-child{
  margin-right: 0;
}

.description_movie{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: 4;
  font-size: 12px;
  line-height: 22px;
}

.description_wrapper{
  max-height: 129px;
}


@media (max-width: 420px){
  .card_item{    
    width: 387px;    
    padding: 0;
    position: relative;
  }

  .card_item_poster{
    width: 80px;
    height: 120px;
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 6px;
  }

  .card_description_wrapper{
    position: absolute;     
    padding: 0;  
    overflow: visible; 
    height: 100%;
  }

  .title_wrapper, .date, .genre_wrapper{    
    width: auto;    
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .description_wrapper{
    overflow: hidden;
    width: 367px;
    margin: 10px 10px 0 10px;
  }

  .description_wrapper p{
    margin: 0;
  }
}